*{
    margin: 0;
    padding: 0;
    font-family: "Caveat", cursive;
}
.header{
    height: 100vh;
    width: 100%;
    background-image: url(images/backpic.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.text{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 2;
    font-size: 35px;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 25%;
    left: 47%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 2;
    padding: 2% 4%;
    margin-left: 30px;
    justify-content: space-between;
    display: flex;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #000000;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 30px;
    background: #fff;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #fff;
    background: #000000;
    transition: 0.75s;
    color: #fff;

}
.text-box1{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 47%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 2;
    padding: 2% 4%;
    margin-left: 30px;
    justify-content: space-between;
    display: flex;
    
    
}
.text-box2{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 2;
    padding: 2% 4%;
    margin-left: 30px;
    justify-content: space-between;
    display: flex;
    
    
}
