*{
    margin: 0;
    padding: 0;
    font-family: "Caveat", cursive;
}
.header{
    height: 100vh;
    width: 100%;
    background-image: url(images/back.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.pic{
    position: absolute;
    left: 50%;
    top: 50%;
     
}
.pic img{
    height: 300px;
    width: 100%;
    position: relative;
}
    
    
.text{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 2;
    font-size: 35px;
}
.back{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 10%;
    left: 5%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 2;
    font-size: 35px;
}
.pop_btn{
    color: #fff;
    cursor: pointer;
    width: 40px;
    right: 30px;
    top: 30px;
    position: absolute;
    font-size: 3rem;

}

.answer_btn{
    text-align: left;
    display: block;
    position: absolute;
    right: 2rem;
    height: 0;
    top: 180px;
    width: 400px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
}
.answer_btn.open{
    height: 300px;
}

.answer_btn li{
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
li{
    list-style: none;

}
a{
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;

}
.text-box1{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 47%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 2;
    padding: 2% 4%;
    margin-left: 30px;
    justify-content: space-between;
    display: flex;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #000000;
    border: 2px solid #fff;
    padding: 12px 34px;
    font-size: 30px;
    background: #fff;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 2px solid #fff;
    background: #000000;
    transition: 0.75s;
    color: #fff;

}


.hero-btn_r{
    display: inline-block;
    text-decoration: none;
    color: #000000;
    border: 2px solid #c61111;
    padding: 12px 34px;
    font-size: 30px;
    background: #fff;
    position: relative;
    cursor: pointer;
}
.hero-btn_r:hover{
    border: 2px solid #fff;
    background: #c61111;
    transition: 0.75s;
    color: #fff;

}


.hero-btn_e{
    display: inline-block;
    text-decoration: none;
    color: #000000;
    border: 2px solid #04761e;
    padding: 12px 34px;
    font-size: 30px;
    background: #fff;
    position: relative;
    cursor: pointer;
}
.hero-btn_e:hover{
    border: 2px solid #fff;
    background: #04761e;
    transition: 0.75s;
    color: #fff;

}


.hero-btn_t{
    display: inline-block;
    text-decoration: none;
    color: #000000;
    border: 2px solid #b1ce0e;
    padding: 12px 34px;
    font-size: 30px;
    background: #fff;
    position: relative;
    cursor: pointer;
}
.hero-btn_t:hover{
    border: 2px solid #fff;
    background: rgb(233, 219, 27);
    transition: 0.75s;
    color: #fff;

}


.hero-btn_s{
    display: inline-block;
    text-decoration: none;
    color: #000000;
    border: 2px solid #082186;
    padding: 12px 34px;
    font-size: 30px;
    background: #fff;
    position: relative;
    cursor: pointer;
}
.hero-btn_s:hover{
    border: 2px solid #fff;
    background: #082186;
    transition: 0.75s;
    color: #fff;

}
